In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# District Summary

    Calculate the total number of schools

    Calculate the total number of students

    Calculate the total budget

    Calculate the average math score

    Calculate the average reading score

    Calculate the percentage of students with a passing math score (70 or greater)

    Calculate the percentage of students with a passing reading score (70 or greater)

    Calculate the percentage of students who passed math and reading (% Overall Passing)

    Create a dataframe to hold the above results

    Optional: give the displayed data cleaner formatting

In [19]:
#Calculate the total number of schools
total_schools=len(school_data_complete["school_name"].unique())
total_schools

15

In [15]:
#Calculate the total number of students
total_students=len(school_data_complete["student_name"].unique())
total_students

32715

In [25]:
# Calculate the total budget
schools=school_data_complete["school_name"].unique()
schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [37]:
school_data_complete.dtypes
# budgets=[]
# # for x in schools:
# budgets=budgets.append(school_data_complete.loc[['Huang High School',"budget"]])
# budgets

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [39]:
#Calculate the average math score
mean_math_score=school_data_complete['math_score'].mean()
mean_math_score

78.98537145774827

In [40]:
 #Calculate the average reading score
mean_reading_score=school_data_complete['reading_score'].mean()
mean_reading_score

81.87784018381414

In [ ]:
#Calculate the percentage of students with a passing math score (70 or greater)
percentage_passingmathscore70orgreater=